/* Style the header */
.header{
    padding:20px;
  }
  .header h1{
    text-align: center;
    font-size:100px;
    color: #fcfbfe;
    font-family: "Audiowide", sans-serif;
  }
  .header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 205px;
  }
  .header {
 background-image: url(images/space.jpg);
  }

  /* Style the top navigation bar */

  .navbar {
    overflow: hidden;
    background-color: #7649fe;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: "Audiowide", sans-serif;
}
  
  /* Style the topnav links */
  .navbar a {
    float: left;
    display: block;
    color: #1d1135;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ba1e68;
  }